{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/inicial.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Homepage</title>
</head>
<body>
<header>

    <img class='img1' src="{% static 'img/08.jpeg'%}" alt="Descrição da Imagem">
    <navbar class='navbar'>
        <ul>
        <li>Home<li>
        <li>criticas<li>
        <li>em cinema<li>
        <li>em breve<li>
        <li>genero<li>
        <li>void<li>
        <li>Streaming<li>
        </ul>
    </navbar>
  
</header>
<section>
    <div class='flex'>
        <div> 
            <img class='img' src="{% static 'img/01.jpeg'%}" alt="Descrição da Imagem">
        </div>
        <div> 
            <img class='img' src="{% static 'img/download.jpeg'%}" alt="Descrição da Imagem">
        </div>
        <div> 
            <img class='img' src="{% static 'img/02.jpeg'%}" alt="Descrição da Imagem">
        </div>
        <div> 
            <img class='img' src="{% static 'img/03.jpeg'%}" alt="Descrição da Imagem">
        </div>
        <div> 
            <img class='img' src="{% static 'img/04.jpeg'%}" alt="Descrição da Imagem">
        </div>
        <div> 
            <img class='img' src="{% static 'img/05.jpeg'%}" alt="Descrição da Imagem">
        </div>
        <div> 
            <img class='img' src="{% static 'img/06.jpeg'%}" alt="Descrição da Imagem">
        </div>
        <div> 
            <img class='img' src="{% static 'img/07.jpeg'%}" alt="Descrição da Imagem">
        </div>
    </div>
</section>
<section>
    <h1 class='destaque'>Destaque dessa semana</h1>
    <div class='margin' >
      <div>
       <h2 class='fonts'>
        1. Alta da Compadecida
       </h2>
        <iframe width="260" height="315" src="https://www.youtube.com/embed/DN_OwWRHU5U?si=Te741UV7Lgk-ovD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>

        </p>
    </div>
      <div>
        <h2 class='fonts'>
         2. Ataque dos Vermes Malditos
        </h2>
        <iframe width="360" height="315" src="https://www.youtube.com/embed/1KyEbIdeLK4?si=G1FHiz8AQB6Wbb2O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>

        </p>
    </div>
    <div>
        <h2 class='fonts'>
         3. shaolin do sertao
        </h2>
        <iframe width="260" height="315" src="https://www.youtube.com/embed/XuzSIm3ZLXU?si=lex8AgGkv9GGpjwW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>

    </p>
    </div>
    <div>
        <h2 class='fonts'>
          4.Ghost: Do Outro Lado da Vida
        </h2>
         <iframe width="360" height="315" src="https://www.youtube.com/embed/b25yHLzdn7g?si=1E7CwZ07bBft9y2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>

    </p>
    </div>
    <div>
        <h2 class='fonts'>
          5.Barbie
        </h2>
        <iframe width="360" height="315" src="https://www.youtube.com/embed/Ujs1Ud7k49M?si=y6PASDfNqJ69mVoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>

    </p>
    </div>
    <div>
        <h2 class='fonts'>
          6.Big hero
        </h2>
        <iframe width="360" height="315" src="https://www.youtube.com/embed/Zx3xEc6-mU4?si=lSIytwhPSR3IcrlD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>

    </p>
    </div>
    <div>
        <h2 class='fonts'>
          7.Megan
        </h2>
        <iframe width="360" height="315" src="https://www.youtube.com/embed/JcKRaUGJcqY?si=g6yd30qAzTHta__k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>

    </p>
    </div>
    <div>
        <h2 class='fonts'>
          8.Avenue 5 
        </h2>
        <iframe width="360" height="315" src="https://www.youtube.com/embed/xxMv8pPN8Po?si=7d8vOIN3gKiF3T_h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>

    </p>
    </div>
</div>
<footer>
<div class=flex>
    <div>
    </h2>
     fale com conosco
 </h2>
 <p>
     83962225587
 </p>
 </div>
 <div>
    <img class='img2' src="../../static/imgs/insta.webp" alt="Descrição da Imagem">
 </div>
 <div>
    <img class='img2' src="../../static/imgs/whats.webp" alt="Descrição da Imagem">
 </div>
</div>
</footer>

</section>

</body>
</html>