ul,li{
    list-style: none;
    display: inline-flex;
   padding: 2px;
   color: white;
   text-align: center;
padding-left: 20px;
margin-left: 10px;
font-size: 1.5rem;
}
header{
    background-color: black;
    margin-left: -10px;
    width: 98.9vw;
    margin-top: -10px;
    height: 150px;
}
.flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 10px;
}
.img{
    width: 80%;
   border-radius: 30px;
}

.img1{
    width: 10%;
    padding-left: 10px;
    padding-top: 10px;
}
.navbar{
    margin-top: -500px;
}
h1::after{
    content: '    >';
    padding-left: 10px;
    padding-top: 40px;
}
h1::before{
    content: '    <';
    padding-right: 10px;
    padding-top: 40px;
}
.fonts{
    font-weight: bolder;
}
.destaque{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}
.margin{
    padding-left: 10px
    ;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer{
    background-color: #000000;
    color: white;
    margin-left: -10px;
    padding-left: 10px;
    height: 60vh;
    margin-bottom: -10px;
    width: 98vw;
}
.img2{
    width: 15%;
    margin-bottom: -30px;
}
.flex1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   text-align: center;
   padding-top: 20px;
}

a:hover{
    background-color: blue;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
}

a{
    text-decoration: none;
    list-style: none;
}